<h1>Crear Alumnos</h1>
<form asp-action="Guardar" asp-controller="Alumnos" method="post">
    <div>
        <label for="nombre">Nombre</label>
        <input type="text" id="nombre" name="nombre" required />
    </div>
    <div>
        <label for="apellido">Apellido</label>
        <input type="text" id="apellido" name="apellido" required />
    </div>
    <div>
        <label for="email">Email</label>
        <input type="email" id="email" name="email" required />
    </div>
        <label for="domicilio">Domicilio</label>
        <input type="text" id="domicilio" name="domicilio" required />
    <div>
    </div>
        <label for="telefono">Telefono</label>
        <input type="text" id="telefono" name="telefono" required />
    <div>
        <label for="fechaNacimiento">Fecha Nacimiento</label>
        <input type="date" id="fechaNacimiento" name="fechaNacimiento" required />
    </div>
    <div>
        <label for="dni">DNI</label>
        <input type="number" id="dni" name="dni" required />
    </div>
    <div>
        <label for="legajo">Legajo</label>
        <input type="text" id="legajo" name="legajo" required />
    </div>

    <div>
        <input type="submit" value="Guardar">
    </div>
</form>