@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>

    Nombre: <input type="text" id="nombre">
    <button onclick="Saludar(document.getElementById('nombre').value)">Saludar</button>
    <br>
    Sumar: <input type="number" id="num1"> + <input type="number" id="num2">
    <button
        onclick="Sumar(document.getElementById('num1').value, document.getElementById('num2').value)">Resultado</button>
    <input type="number" id="resultado" readonly>
    <br>
    <br>
    <p>Mas info de JQuery en <a href="https://api.jquery.com/category/css/">JQuery</a>.</p>
    <br>
    <br>
    <button onclick="ObtenerProfesores()">Obtener Profesores</button>
    <br>
    <div id="divTablaProfesores">
    </div>
    <div>
        <button id="buttonPrimera" onclick="PaginaPrimera()">Primera</button>
        <button id="buttonAnterior" onclick="PaginaAnterior()">Anterior</button>
        <label id="labelNroPagina"></label>
        <button id="buttonSiguiente" onclick="PaginaSiguiente()">Siguiente</button>
        <button id="buttonUltima" onclick="PaginaUltima()">Ultima</button>
    </div>
    <div>
        <button type="button"
            onclick="location.href='@Url.Action("AgregarUsuarioSession", "Usuarios")?mail=hola&nombre=pepe'">Set UsuarioSession</button>
        />
        <button type="button"
            onclick="location.href='@Url.Action("ConsultarUsuario", "Usuarios")'">Get UsuarioSession</button>
        />
    </div>
</div>
