<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Alumnos</title>
    <link rel="stylesheet" type="text/css" href="../css/estilos.css">
</head>
<body>
    <h1>Comunidad IT</h1>
    <h1 id="salta">Salta</h1>
    <h1 class="SubTitulo">1C2021</h1>
    <h2>Alumnos</h2>

    <div>
        <table border="1">
            <tr>
                <td>Nombre</td>
                <td>Apellido</td>
                <td>Email</td>
            </tr>
            <tr>
                <td>Valor 1</td>
                <td>Valor 2</td>
                <td>Valor 3</td>
            </tr>
        </table>
    </div>

    <a href="../index.html">Volver</a>
</body>
</html>